# LINE
LINE_CHANNEL_SECRET=your_line_channel_secret
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token

# Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=8592637853

# Notion
NOTION_TOKEN=your_notion_integration_token
NOTION_INBOX_PAGE_ID=5620e7bb88c245f3849660c387d4a047
NOTION_TASKS_PAGE_ID=01b3076ef52f4c8887da101a9882fc83
NOTION_WORKOUT_PAGE_ID=71e7751d031a41a19d7b4f667c7d7b46
NOTION_CONTENT_PAGE_ID=74de51b9f88e4da3a63e1f88deb37e5e
NOTION_INCOME_PAGE_ID=835865e996b7460699359c284fa5c30e

# Anthropic
ANTHROPIC_API_KEY=your_anthropic_api_key
